/* Tło przycisków */
#play {
	-fx-background-image: url("../img/play.png");
}

#prev {
	-fx-background-image: url("../img/prev.png");
}

#next {
	-fx-background-image: url("../img/next.png");
}


#field_l {
	-fx-background-image: url("../img/pustynia.png");
}

#field_r {
	-fx-background-image: url("../img/pustynia.png");
}

#dol {
	-fx-background-image: url("../img/moro.png");
}

#menu {
	-fx-background-image: url("../img/moro_a.png");
}


.button,
.toggle-button {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% 70%;
	-fx-background-color: transparent;
	-fx-opacity: 90%;
}

/* Przyciski po najechaniu */
.button:hover,
.toggle-button:hover,
.toggle-button:selected {
	-fx-opacity: 30%;
}